* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(../images/bg.jpg) no-repeat top center;
  line-height: 1.15;
}
header {
  position: relative;
  height: 1.25rem;
  background: url(../images/head_bg.png) no-repeat;
  background-size: 100% 100%;
}
header h1 {
  font-size: 0.475rem;
  font-weight: 500;
  color: #fff;
  font-family: 'Georgia';
  text-align: center;
  line-height: 1rem;
}
header .mulu {
  position: absolute;
  top: 0;
  right: 0.325rem;
  line-height: 0.9375rem;
  font-size: 0.27rem;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  padding-right: 1.4rem;
}
header .mulu .navs {
  display: flex;
  align-items: center;
  padding-left: 0.15rem;
}
header .mulu .navs .caida{
  display: flex;
  align-items: center;
  color:#fff;
  font-size:15px;
  padding-left: 0.15rem;
}
header .mulu .navs .caidan{
  display: flex;
  align-items: center;
  color:#fff;
  font-size:15px;
  padding-left: 0.15rem;
}
header .mulu .navs .caidann{
  display: flex;
  align-items: center;
  color:#fff;
  font-size:15px;
  padding-left: 0.15rem;
}
header .mulu .navs a {
  text-decoration: none;
  color: white;
  font-size: 0.27rem;
  padding: 0.25rem;
  text-align: right;
}
header .mulu ul {
  display: none;
  position: absolute;
  top: 50px;
  width: 43%;
  background-image: url(../images/bg1.jpg);
  /* background-color: #DDA0DD; */
  z-index: 9;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
header .mulu ul li {
  border-bottom: 1px solid #fff;
  display: block;
}
header .mulu ul li a {
  color: #fff;
  text-decoration: none;
}
header .mulu ul li a:hover {
  background-color: #cd853f;
}
header .showtime {
  position: absolute;
  left: 0.375rem;
  line-height: 0.9375rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.25rem;
  top: 0;
}
.mainbox {
  display: flex;
  min-width: 1024px;
  max-width: 1463px;
  margin: 0 auto;
  height: 600px;
  padding: 0.1rem 0.1rem 0;
}
.mainbox .column {
  flex: 3;
}
.mainbox .column:nth-child(2) {
  flex: 6;
}
.mainbox .zhuigan {
  position: relative;
  height: 8.9rem;
  padding: 0 0.1rem 0.5rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  margin-bottom: 0.1875rem;
  background: url(../images/line.png) rgba(255, 255, 255, 0.03);
}
.mainbox .zhuigan::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: '';
}
.mainbox .zhuigan::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: '';
}
.mainbox .zhuigan .zhuigan-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.mainbox .zhuigan .zhuigan-footer::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: '';
}
.mainbox .zhuigan .zhuigan-footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: '';
}
.mainbox .zhuigan h2 {
  height: 0.6rem;
  color: #fff;
  line-height: 0.6rem;
  text-align: center;
  font-size: 0.27rem;
  font-weight: 400;
}
.mainbox .zhuigan .cchart {
  height: 8.3rem;
  padding: 0 0.1rem 0.1rem;
  margin-bottom: 0.12rem;
}
.mainbox .ball {
  position: relative;
  width: 100%;
  height: 11.7rem;
  padding: 0 0.1875rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  margin-bottom: 0.1875rem;
  background: url(../images/line.png) rgba(255, 255, 255, 0.03);
}
.mainbox .ball h2 {
  height: 0.6rem;
  color: #fff;
  line-height: 0.6rem;
  text-align: center;
  font-size: 0.3rem;
  font-weight: 400;
}
.mainbox .ball #earth_map_3D {
  height: 95%;
  width: 100%;
}
.mainbox .paris {
  position: relative;
  height: 2.625rem;
  padding: 0 0.1875rem 0.5rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  text-align: center;
  margin-bottom: 0.1875rem;
  background: url(../images/line.png) rgba(255, 255, 255, 0.03);
}
.mainbox .paris::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: '';
}
.mainbox .paris::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: '';
}
.mainbox .paris .jianjie {
  position: absolute;
  height: 2.1rem;
  width:5.7rem;
  padding: 0 0.1875rem 0.2rem 0;
  border-top: 1px solid rgba(25, 186, 139, 0.17);
  /* margin-bottom: 0.1875rem; */
  overflow: hidden;
}
.mainbox .paris .jianjie .content,
.mainbox .paris .jianjie .fakecontent {
  padding: 0.01rem;
  color: #fff;
  font-size: 0.27rem;
  font-family: 'Microsoft YaHei';
  line-height: 0.35rem;
}
.mainbox .paris .paris-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.mainbox .paris .paris-footer::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: '';
}
.mainbox .paris .paris-footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: '';
}
.mainbox .paris a {
  display: inline-block;
  height: 0.4rem;
  color: #fff;
  line-height: 0.6rem;
  text-align: center;
  font-size: 0.27rem;
  font-weight: 400;
}
.mainbox .temp {
  position: relative;
  height: 5.625rem;
  padding: 0 0.1875rem 0.5rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  margin-bottom: 0.1875rem;
  background: url(../images/line.png) rgba(255, 255, 255, 0.03);
}
.mainbox .temp::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: '';
}
.mainbox .temp::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: '';
}
.mainbox .temp .zhexian {
  height: 5.225rem;
  padding: 0.4rem 0.1875rem 0.2rem;
  margin-bottom: 0.1875rem;
}
.mainbox .temp .at-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.mainbox .temp .at-footer::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: '';
}
.mainbox .temp .at-footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: '';
}
.mainbox .temp h2 {
  height: 0.4rem;
  color: #fff;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.27rem;
  font-weight: 400;
}
.mainbox .zymc {
  position: relative;
  height: 5.9rem;
  padding: 0 0.1875rem 0.2rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  margin-bottom: 0.1875rem;
  background: url(../images/line.png) rgba(255, 255, 255, 0.03);
}
.mainbox .zymc::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: '';
}
.mainbox .zymc::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: '';
}
.mainbox .zymc .mingci {
  height: 5.225rem;
  padding: 0.2rem 0.1875rem 0.2rem;
  /* border: 1px solid rgba(25, 186, 139, 0.17); */
  margin-bottom: 0.1875rem;
}
.mainbox .zymc .zymc-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.mainbox .zymc .zymc-footer::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: '';
}
.mainbox .zymc .zymc-footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: '';
}
.mainbox .zymc h2 {
  height: 0.4rem;
  color: #fff;
  line-height: 0.6rem;
  text-align: center;
  font-size: 0.27rem;
  font-weight: 400;
}
