@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?kbssyx');
  src:  url('icomoon.eot?kbssyx#iefix') format('embedded-opentype'),
    url('icomoon.ttf?kbssyx') format('truetype'),
    url('icomoon.woff?kbssyx') format('woff'),
    url('icomoon.svg?kbssyx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-riseup:before {
  content: "\e90e";
  color: #5e9ee3;
}
.icon-basket:before {
  content: "\e90f";
}
.icon-heart:before {
  content: "\e900";
}
.icon-cloud:before {
  content: "\e901";
}
.icon-star:before {
  content: "\e902";
}
.icon-display:before {
  content: "\e903";
}
.icon-study:before {
  content: "\e904";
}
.icon-calendar:before {
  content: "\e905";
}
.icon-gift:before {
  content: "\e910";
}
.icon-home4:before {
  content: "\e911";
}
.icon-sunset:before {
  content: "\e914";
}
.icon-goat:before {
  content: "\e915";
}
.icon-plane:before {
  content: "\e916";
}
.icon-tree:before {
  content: "\e917";
}
.icon-home1:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e907";
}
.icon-play1:before {
  content: "\e908";
}
.icon-sound:before {
  content: "\e909";
}
.icon-delicious1:before {
  content: "\e90a";
}
.icon-home:before {
  content: "\e90b";
}
.icon-home2:before {
  content: "\e90c";
}
.icon-home3:before {
  content: "\e90d";
}
.icon-play:before {
  content: "\e912";
}
.icon-film:before {
  content: "\e913";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-compass:before {
  content: "\e949";
}
.icon-compass2:before {
  content: "\e94a";
}
.icon-history:before {
  content: "\e94d";
}
.icon-users:before {
  content: "\e972";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-spinner5:before {
  content: "\e97e";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-happy2:before {
  content: "\e9e0";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-table:before {
  content: "\ea70";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-delicious:before {
  content: "\eacd";
}
